################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MainWin/x64/Debug
/MainWin/ImageFilterAlgorithmCPP/x64/Debug
/MainWin/ImageFilterAlgorithmASM/Debug
/MainWin/ImageFilterAlgorithmASM/x64/Debug
/MainWin/MainWin/obj
/MainWin/.vs/MainWin/v16
