################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sources/.vs
/sources/ImageFilterAlgorithmASM/x64/Debug
/sources/ImageFilterAlgorithmASM/Debug
/sources/ImageFilterAlgorithmCPP/x64/Debug
/sources/MainWin/obj
/sources/x64/Debug
